.service {
  box-sizing: border-box;
  display: block;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 3rem;
  box-shadow: 0 10px 25px 0 rgb(0 18 63 / 7%);
  align-items: center;
}
.image {
  width: 100px;
  height: 100px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 35px;
}
.content h1 {
  font-family: Lato, Helvetica Neue, Verdana, sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: #5e656a;
  padding: 20px;
}
.content p {
  font-size: 18px;
  color: #9a9a9a;
  font-family: Lato, Helvetica Neue, Verdana, sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: 0;
  line-height: 28px;
}
.cto {
  align-self: flex-end;
}
.cto > button {
  color: #007bff;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  font-family: Lato, Helvetica Neue, Verdana, sans-serif;
  font-weight: 700;
  border-radius: 0.2rem;
  border: 1px solid #007bff;
  width: 7rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 576px) {
  .service {
    height: 496px;
  }
}

@media (min-width: 768px) {
  .service {
    height: 440px;
  }
}
@media (min-width: 992px) {
  .service {
    height: 312px;
  }
}
