.logo {
  align-self: center;
}
.Navbar {
  margin: 0 auto;
  height: 7vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  /* background-color: aquamarine; */
}
.NavbarTwo {
  position: fixed;
  background-color: white;
  margin: 0 auto;
  height: 7vh;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  /* background-color: aquamarine; */
}
.links {
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* background-color: aqua; */
  right: -9;
}

.link {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;

  color: white;
  /* color: black; */
  text-decoration: none;
}
.linkTwo {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.link:hover,
.linkTwo:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .Navbar,
  .NavbarTwo {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .Navbar,
  .NavbarTwo {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .Navbar,
  .NavbarTwo {
    width: 960px;
  }
}
